<html>
<head>
  <title>{{options.name}} {{options.version}}</title>
  <link href='assets/bass.css' type='text/css' rel='stylesheet' />
  <link href='assets/style.css' type='text/css' rel='stylesheet' />
  <link href='assets/github.css' type='text/css' rel='stylesheet' />
</head>
<body class='documentation'>
  <div class='px2'>
    <div class='clearfix flex flex-stretch mxn2'>
      {{#unless options.hideSidebar}}
      <div class='documentation-sidebar relative top-0 bottom-0 right-0 px2 py2 col-3 sm-show'>
        <div class='font-smaller fixed col-3 top-0 bottom-0 left-0 overflow-auto black bg-cloudy'>
          <a href="/" class="h5 button block button-transparent">{{options.name}} {{options.version}}</a>
          <div class='px2'>
            {{#each docs}}
              <a
                href='#{{permalink}}'
                class='regular block'>
                <code>{{name}}</code>
              </a>
              {{#each members.static}}
                <a
                  href='#{{permalink}}'
                  class='px1 regular block'>
                  <code>.{{name}}</code>
                </a>
              {{/each}}
              {{#each members.instance}}
                <a
                  href='#{{permalink}}'
                  class='px1 regular block'>
                  <code>#{{name}}</code>
                </a>
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
      {{/unless}}
      <div class='sm-col {{#unless options.hideSidebar}} col-9 {{/unless}} flex flex-column'>
        <div class='flex-auto full-width'>
          <div class='px1'>
{{#each docs ~}}{{> section}}{{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
