<html>
<head>
  <title>Documentation</title>
  <link href='assets/bass.css' type='text/css' rel='stylesheet' />
  <link href='assets/style.css' type='text/css' rel='stylesheet' />
  <link href='assets/github.css' type='text/css' rel='stylesheet' />
</head>
<body>
  <div class='px2'>
    <div class='clearfix flex flex-stretch mxn2'>
      <div class='relative top-0 bottom-0 right-0 px2 py2 sm-col-3 md-col-2 sm-show'>
        <div class='font-smaller fixed sm-col-3 md-col-2 top-0 bottom-0 left-0 overflow-auto black bg-cloudy'>
          <a href="/" class="h5 mt2 button block button-transparent">Documentation</a>
          {{#each docs}}
            <a
              href='#{{permalink}}'
              class='button regular block button-transparent'>
              <code>{{name}}</code>
            </a>
            {{#each members.instance}}
              <a
                href='#{{permalink}}'
                class='button button-indent regular block button-transparent'>
                <code>#{{name}}</code>
              </a>
            {{/each}}
            {{#each members.static}}
              <a
                href='#{{permalink}}'
                class='button button-indent regular block button-transparent'>
                <code>.{{name}}</code>
              </a>
            {{/each}}
          {{/each}}
        </div>
      </div>
      <div class='sm-col sm-col-9 md-col-10 flex flex-column'>
        <div class='flex-auto full-width'>
          {{#each docs}}
            {{> section}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
